#logo {
	height: 40px;
	width: 50px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	float: left;
}


#title {
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchBox {
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

#kart, #liveSupport {
    display: inline-block;
    margin-left: 20px;
}

#rightButtons {
    display: flex;
    align-items: center;
}
.button {
    background-color: #98130c;
    color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button a {
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background-color: #006400; /* Darker green on hover */
}

#searchBox, #searchButton, #signInButton, .button {
    display: inline-block;
    vertical-align: middle;
}

#searchButton, #signInButton {
    background-color: #98130c;
    color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover, #signInButton:hover {
    background-color: #006400; /* Darker green on hover */
}

.dropbtn {
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 15px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	float: left;
}

.dropdown-content  {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	font-size: 14px;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: gray;
}




#cartIcon {
	height: 30px;
	width: 30px;
}

